html {
  width: 100dvw;
  height: 100dvh;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

button {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
a {
  color: #000000;
  text-decoration: none;
}
p {
  margin: 0;
}
